$main-color: white;
body {
  background-color: $main-color;
}

.product {
  &__login-btn,
  &__join-btn {
    .root--authed & {
      display: none;
    }
  }
  &__logout-btn,
  &__cart-btn {
    display: none;
    .root--authed & {
      display: block;
    }
  }
  &__cart-btn {
    .root--admin & {
      display: none;
    }
  }
  &__post-btn {
    display: none;
    .root--admin & {
      display: block;
    }
  }
}

.navbar-brand {
  width: 15%;
  height: 1vh;
}

.navbar-menu {
  font-weight: bold;
}

.product-list {
  margin-top: 5%
}

.product-content__img {
  margin-top: 3em;
}

.product__pre {
  cursor: pointer;
  width: 500px;
  border: 3px solid salmon;
  padding: 5px;
  margin: 20px;
}

.product-content {
  &__edit-btn,
  &__delete-btn {
    display: none;
    .root--admin & {
      display: block;
    }
  }
}

.comments__edit-body-input {
  display: none;
  .show & {
    display: block;
  }
}

img {
  display: inline-block;
}
