

$main-color: white;
body {
  background-color: $main-color;
}

.product {
  &__login-btn,
  &__join-btn {
    .root--authed & {
      display: none;
    }
  }
  &__logout-btn,
  &__cart-btn {
    display: none;
    .root--authed & {
      display: block;
    }
  }
  &__post-btn {
    display: none;
    .root--admin & {
      display: block;
    }
  }
}

.navbar-menu {
  font-weight: bold;
}

.product__pre {
  cursor: pointer;
  width: 500px;
}

img {
  display: inline-block;
}
