html {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

$main-color: white;
body {
  background-color: $main-color;
}

.product {
  &__login-btn,
  &__join-btn {
    .root--authed & {
      display: none;
    }
  }
  &__logout-btn,
  &__cart-btn {
    display: none;
    .root--authed & {
      display: block;
    }
  }
  &__cart-btn {
    .root--admin & {
      display: none;
    }
  }
  &__post-btn {
    display: none;
    .root--admin & {
      display: block;
    }
  }
}

.brand-logo {
  width: 15%;
  height: 1vh;
}

.navbar-menu {
  font-weight: bold;
}

.product-list {
  padding: auto;
  margin-left: 3.5em;
  margin-top: 30px;
}

.product-content__img {
  margin-top: 3em;
}

.product__pre {
  cursor: pointer;
  display: inline-block;
  width: 300px;
  border: 3px solid rgba(236, 111, 117, 0.7);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  margin-bottom: 15px;
}

.product__img {
  width: 70%;
}

.product-content {
  &__edit-btn,
  &__delete-btn {
    display: none;
    .root--admin & {
      display: block;
    }
  }
}

.comments__edit-body-input {
  display: none;
  .show & {
    display: block;
  }
}

img {
  display: inline-block;
}

// 로그인
.login {
  color: salmon;
  margin-top: 10%;
  text-align: center;
  &__alert {
    color: #F2453D;
    font-weight: 600
  }
}

// 회원 가입
.join {
  color: salmon;
  margin-top: 10%;
  text-align: center;
  &__alert {
    color: #F2453D;
    font-weight: 600
  }
}

// 상품 등록
.post-product-form {
  color: salmon;
  text-align: center
}

.post-product-form .row {
  margin: 0
}

.comments__list .row {
  margin: -10px 0;
}

.product-content__bodyImg {
  margin-bottom: 3em;
}

.product-billing-list {
  position: relative;
}

.product-billing-item__img {
  width: 200px;
}

// 상품 수정
.edit-form__header {
  color: salmon
}

.edit-form .row {
  margin: 0;
}

.cart-product-item {
  margin-bottom: 2em
}

footer {
  margin-top: 3em;
}

.product-billing__info .row {
  margin: 0;
}

.product-billing__order {
  margin-bottom: 2em;
}
